@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body{
  font-family: "Roboto";
  font-weight: 500;
  color: #959BA4;
  line-height: 117%;
  width: 100%;
  height: 100vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.active{
  background-color: #833AE0;
  color: white !important;
}
nav{
  display: inline-block;
  margin: 0 auto 3.5rem auto;
  background-color: #F5F5F6;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 11px;
}
.navbar{
  width: 100%;
  margin: 0 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  width: 65%;
}
#menu-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.menu-item{
  cursor: pointer;
}
.menu-item:hover{
  color: black;
}
#site-logo{
  width: 89px;
  height: 23px;
  background: url("./images/site-logo.png") no-repeat;
}
#sign-in{
  width: 3.5rem;
  height: 2rem;
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

main{
  width: 640px;
  margin: 0 auto;
}
.convert-section{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.convert-header{
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 117%;
  color: black;
  margin-bottom: 2.5rem;
}
.convert-from, .convert-to{
  width: 259px;
}
.convert-from p, .convert-to p{
  display: flex;
  align-items: center;
  height: 28px;
}
.convert-title{
  color: #9f9f9f;
  font-weight: 400;
}
.currency-list{
  width: 100%;
  height: 1.75rem;
  display: flex;
  margin-bottom: 1.25rem;
}
.currency-list .currency-item{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px 0 0 3px;
  color: #c6c6c6;
  cursor: pointer;
  font-weight: 400;
}
.input-section, .result-section{
  width: 100%;
  height: 6.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 0.75rem 0 0 0.9rem;
}
.input-section #input, .result-section #result{
  width: 100%;
  font-size: 2.25rem;
  border: none;
  color: black;
}
.input-section #input:focus, .result-section #result:focus{
  outline: 0;
}

@media (max-width: 1000px){
  #sign-in{
    position: absolute;
    right: 1rem;
  }
  .menu{
    width: 80%;
  }
}

@media (max-width: 834px){
  .menu{
    display: none;
  }
  main{
    width: 580px;
  }
}

@media (max-width: 665px){
  main{
    width: 100%;
  }
  .convert-header{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .convert-section{
    margin: 0 auto;
    flex-direction: column;
  }
  .convert-from{
    margin-bottom: 2rem;
  }
  .convert-from, .convert-to{
    margin: 0 auto;
  }
}
